* {
  box-sizing: border-box;
}

.container_booking {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.container_booking > form {
  background: url();
  width: 120%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

.input_booking {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25px;
  border-radius: 9%;
}

.fluid_ui_button_violet_booking {
  background: #05d675;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
} 

.fluid_ui_button_violet_booking:hover {
  background: #05b462;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
} 

@media (max-width: 600px) {
  .container_booking > form {
    width: 90%; 
  }
}
