/* Add styles for the admin welcome page */
.container_adminWelcome {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 50px;
    margin-top: 18%;
    margin-bottom: 18%;
  }
  
  .admin-actions {
    margin-top: 20px;
  }
  
  .fluid_ui_button_blue {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
  }
  
  .logout_adminWelcome {
    margin-top: 20px;
    text-align: right;
  }
  
  .logout_adminWelcome_text {
    color: #3498db;
    cursor: pointer;
  }
  